<!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-<%=appStructure.sideBarColor%>-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
      <img src="dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light"><%=appStructure.appName%></span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <%- include('./user-panel.ejs') %>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
        <% if(appStructure.sideBar) {
            appStructure.sideBar.forEach(sideBarItem => {
              if(sideBarItem.type === "page") { %>
                <%- include('../nav-item-with-icon', {
                  url:sideBarItem.url,
                  name:sideBarItem.name,
                  status: sideBarItem.status,
                  icon: sideBarItem.icon
                  })%>
              <%}  if(sideBarItem.type === "treeView") { %>
                <%- include('./tree-view', {
                  title: sideBarItem.title,
                  status: sideBarItem.status,
                  icon: sideBarItem.icon,
                  pages: sideBarItem.pages
                  }) %>
              <% }
              })
          } %>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>